/code-backup.txt
system/*
assets/font-awesome/*
assets/fonts/*
assets/img/*
assets/jquery-easy-pie-chart/*
assets/css/*
assets/js/base/*
assets/js/datatables/*
assets/js/plug-in/*
assets/js/validation/*